
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

}


<h3><i class="fa fa-angle-right"></i> 课程列表</h3>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <section id="unseen" style="margin-left:10px;margin-right:10px;">
                <!--操作按钮，课程的多所删除和单所添加-->
                <div class="btn-group pull-right" id="toolbar">

                    <button id="AddCourse" type="button" class="btn btn-default" data-toggle='modal' data-target='#AddModal'>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
                    </button>
                    <button id="DeleteCourses" type="button" class="btn btn-default" style="">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                    </button>
                </div>
                <!--操作按钮，课程的多条删除和单所添加结束-->
                <table id="CourseList"></table><!--显示课程信息的表格-->
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-4 -->
</div><!-- /row -->
<!--添加时模态框-->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddModalLabel">添加课程信息</h4>
            </div>
            <div class="modal-body">
                <form id="EditForm" class="form-horizontal style-form" method="post" action="##">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">课程名字</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="AddCourseName" name="AddCourseName">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="AddClose">关闭</button>
                <button type="submit" class="btn btn-primary" id="AddSubmit">提交</button>
            </div>
        </div>
    </div>
</div>
<!--添加时模态框结束-->
<!--编辑时模态框-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddModalLabel">编辑课程信息</h4>
            </div>
            <div class="modal-body">
                <form id="EditForm" class="form-horizontal style-form" method="post" action="##">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">课程名字</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control round-form" id="EditCourseName" name="EditCourseName">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="EditClose">关闭</button>
                <button type="submit" class="btn btn-primary" id="EditSubmit">提交</button>
            </div>
        </div>
    </div>
</div>
<!--编辑时模态框结束-->



@section javascript{

    <link href="~/assets/bootstrap-table-master/src/bootstrap-table.css" rel="stylesheet" />
    <script src="~/assets/bootstrap-table-master/src/bootstrap-table.js"></script>
    <!--表格加载-->
    <script>
        $("#CourseList").bootstrapTable({
            url: "/Course/GetList",// 获取表格数据的url
            contentType: "application/x-www-form-urlencoded",//一种编码。好像在post请求的时候需要用到。这里用的get请求，注释掉这句话也能拿到数据
            method: 'post',//请求方式
            dataType: "json",
            dataField: "rows",
            classes: 'table',//边框
            undefinedText: '',//当数据为 undefined 时显示的字符
            pagination: true,//启动分页
            striped: true,
            cache: true, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
            striped: true,  //表格显示条纹，默认为false
            pagination: true, // 在表格底部显示分页组件，默认false
            pageList: [5, 10, 20], // 设置页面可以显示的数据条数
            pageSize: 5, // 页面数据条数
            pageNumber: 1, // 首页页码
            showColumns: false,  //显示下拉框勾选要显示的列
            showRefresh: false,  //显示刷新按钮
            showToggle: false,//显示一行是否改成竖着
            showPaginationSwitch: false,//是否显示 下面的分页框
            search: false, //显示搜索框
            //toolbar操作
            toolbar: '#toolbar',//工具按钮用哪个容器
            toolbarAligh: 'left',//工具栏对齐方式
            buttonsAligh: 'right',//按钮对齐方式

            sortOrder: "asc",//排序方式
            locale: 'zh-CN',//中文支持
            sidePagination: 'server', // 设置为服务器端分页
            queryParamsType: '',//采用自定义查询参数组织方式
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                return {
                    pageSize: params.pageSize, // 每页要显示的数据条数
                    pageNumber: params.pageNumber//请求第几页
                }
            },
            columns: [{
                checkbox: true
            }, {
                field: 'Id',
                title: '课程Id',
                visible: false,
                align: 'center'
            }, {
                field: 'CourseName',
                title: '课程名字',
                align: 'center'
            }, {
                title: '操作',
                align: 'center',
                width: '500px',
                formatter: function (value, row, index) {
                    return "<button class=\"btn btn-info btn-sm\" data-toggle='modal' data-target='#EditModal' " +
                        "onclick=\"Edit(" + row.Id + ",'"+row.CourseName+"')\">" +
                        "<span class='glyphicon glyphicon-pencil' aria-hidden='true'>修改课程信息</span>";
                }
            }]
        })
    </script>
    <!--表格加载结束-->
    <!--添加课程开始-->
    <script>
        $("#AddSubmit").click(function(){
            $.ajax({
                url:"/Course/AddCourseSave",
                data: {
                    AddCourseName:$('#AddCourseName').val(),
                },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    $("#AddClose").click();
                    alert(result);
                    $("#CourseList").bootstrapTable('refresh');
                }
            })
        })
    </script>
    <!--添加课程结束-->
    <!--编辑课程开始-->
    <script>
        var courseId = -1;
        function Edit(CourseId, CourseName) {
            courseId = CourseId;
            $('#EditCourseName').val(CourseName);        
        }
        $('#EditSubmit').click(function () {
            $.ajax({
                url: "/Course/EditCourseSave",
                data: {
                    CourseId: courseId,
                    EditCourseName: $('#EditCourseName').val()
                },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    $("#EditClose").click();
                    alert(result);
                    $("#CourseList").bootstrapTable('refresh');
                }
            })
        })
    </script>
    <!--编辑课程结束-->
    <!--ajax删除学生信息并更新表格-->
    <script>
        $("#DeleteCourses").click(function () {

            var ids = $.map($("#CourseList").bootstrapTable('getSelections'),
                function (row) {
                    return row.Id;
                })
            if (ids.length <= 0) {
                alert("请选择至少一条的删除记录");
            } else {
                if (confirm("确定删除？")) {
                    $.ajax({
                        url: "/Course/Delete",
                        type: "POST",
                        data: { Ids: ids },
                        dataType: "json",
                        success: function (result) {
                            alert(result);
                            $("#CourseList").bootstrapTable('refresh');
                        }
                    })
                }
            }
        })
    </script>
    <!--ajax删除学生信息并更新表格结束-->

}